* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* overflow-y: hidden; */
}

header {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.logo {
    flex: 15%;
    /* background-color: black; */
}

.logo img {
    width: 100%;
    height: auto;
}

form {
    flex: 65%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    padding-left: 10px;
    width: 100%;
    border-radius: 5px;
}

.form input {
    border: none;
    width: 80%;
    height: 40px;
    padding-left: 10px;
}

.functionalities {
    flex: 20%;
    /* background-color: blue; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

.functionalities .icon {
    padding-right: 25px;
    font-size: 20px;
}

.profile {
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
}

.profile select {
    border: none;
    padding: 5px;
    font-size: 14px;
}
.profile select:focus{
    border: none;
}
main{
    display: flex;
    flex-wrap: wrap;
}
nav{
    flex: 15%;
    height: 650px;
    /* text-align: center; */
    background-color: yellow;
}
nav .link{
    display: flex;
    justify-content: flex-start;
}
.image{
    display: flex;
    justify-content: center;
}
nav .link{
    padding-left: 30px;
}
main p a{
    text-decoration: none;
    color: black;
}
.fa-solid{
    padding-right: 20px;
}
.form-two-cont{
    flex: 85%;
    background-color: blue;
    display: flex;
    justify-content: center;
}

